<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right">
            2016-2019 &copy;<a href="https://dybl.github.io" target="_blank"> FunU CO.,LTD </a>
            <img src="https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png">
            全文在<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">署名-非商业-相同方式共享</a>许可下获得
            
        </div>
        <div class="col s12 m4 l4 social-link"><%- partial('_partial/social-link') %></div>
    </div>
</footer>

<div class="progress-bar"></div>

